* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-white-btn: white;
  --color-black-btn: black;

  --back-color-blue: rgb(19, 128, 172);
  --back-color-grey: rgba(246, 242, 242, 0.885);
}
body {
  background-color: rgba(180, 180, 180, 0.815);
}
.container {
  display: grid;
  grid-template: 1fr 4fr/ 1fr 4fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
  height: 100vh;
}
.container div {
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sidebar {
  grid-area: sidebar;
  background-color: var(--back-color-blue);
}
.logo {
  text-align: center;
}
.header {
  grid-area: header;
  background-color: white;
  display: flex;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.main-content {
  background-color: tomato;
  grid-area: main-content;
  background-color: var(--back-color-grey);
  grid-template-columns: 2fr 1fr; /* 2/3 for cards, 1/3 for sidebar */

  display: grid;
  gap: 15px;
}

/* CSS FOR THE SIDEBAR
 */
.menu {
  display: grid;

  gap: 4rem;
  /* puts a gap between the first ul and the second ul */
}
.house {
  list-style-image: url(./image/home\ button.svg);
}

.profile {
  list-style-image: url(./image/face-recognition.svg);
}

.menu li:hover {
  font-size: 2.5rem;
  cursor: pointer;
  background-color: teal;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  /* scales and at the same time grows and scales down smoothly
  after not hovering element  */
}

ul:hover li:not(:hover) {
  opacity: 0.5;
}
/* the rest of the li on the list will fade a little */

.messages {
  list-style-image: url(./image/message-text.svg);
}
.history {
  list-style-image: url(./image/history.svg);
}
.task {
  list-style-image: url(./image/checkbox-marked-circle-auto-outline.svg);
}
.communities {
  list-style-image: url(./image/account-multiple.svg);
}
.settings {
  list-style-image: url(./image/cog.svg);
}
.support {
  list-style-image: url(./image/face-agent.svg);
}
.privacy {
  list-style-image: url(./image/eye-lock.svg);
}
/* this above ends the css for the sidebar //////////*/

/* here we will begin our css for header */

.menu-header.welcome {
  color: black;
}
a:link {
  color: grey;
}
a:link:hover {
  color: greenyellow;
}
input {
  border-radius: 20px;
  border: 1px solid grey;
  width: 100%;
  padding: 20px;
  font-size: 1rem;
  /* transition: border-color 0.3s, box-shadow 0.3s;
  what this does is calls on the box shadow and applies the color 
  as you hover. 
} */
}
.profile-pic {
  border-radius: 20px;
  height: auto;
  float: left;
  padding: 5px;
}
.btn-actions {
  display: flex;
  gap: 20px;
}
.btn-actions button {
  border-radius: 50px;
  background-color: var(--back-color-blue);
  border: 2px solid gainsboro;
  font-size: 2rem;
  padding: 15px;
}
button:hover {
  background-color: blue;
  color: white;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
}
.mag-icon {
  display: flex;
}
.search-bar {
  position: relative;
}
.mag-icon {
  position: absolute;
}
input:hover {
  border: 2px solid skyblue;
}

input:focus {
  box-shadow: 0 0 5px 2px var(--back-color-blue);
  transition: all 0.2s ease-in-out;
  outline: none;
  /* outlin takes away the default style where it shows you the input line */
}
/* Hide icon if the input inside is focused  applies they style to the parent
only if the children has the element in there*/
.search-bar:has(input:focus) .mag-icon {
  opacity: 0;
}

/* THIS IS THE MAIN-CONTENT SECTION */
.card p {
  font-size: 18px;
  color: black;
  /* color: grey; */
  /* text-align: left; */
}
.title {
  text-transform: capitalize;
  color: var(--color-black-btn);
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px; /* optional spacing */
}
.card {
  background-color: var(--color-white-btn);
  border-radius: 10px;
  border-left: 6px solid #f4b400; /* yellow stripe on the left */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.big-card div {
  color: black;
  font-size: 0.8rem;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.right-sidebar {
  gap: 20px;
  display: grid;
}
.action-icon {
  width: 20px;
  cursor: pointer;
  display: flex;
  gap: 20px;
}
